spring:
  application:
    name: "taiyaki-backend"
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

security:
  jwt:
    secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    at.technikum.taiyaki: DEBUG